image: docker:latest

services:
  - name: docker:dind
    command: ["--host=unix:///var/run/docker.sock"]

stages:
  - build
  - test
  - release
  - deploy

variables:
  TEST_IMAGE: $HOST/$IMAGE_NAME:test
  FINAL_IMAGE: $HOST/$IMAGE_NAME:$TAG

before_script:
  - echo "Logging into Docker..."
  - docker login -u $HOST -p $PASSWORD

build:
  stage: build
  script:
    - echo "Building Docker image..."
    - docker build -t $TEST_IMAGE .
    - echo "Pushing Docker image to registry..."
    - docker push $TEST_IMAGE

test:
  stage: test
  script:
    - echo "Running tests..."
    - docker pull $TEST_IMAGE
    - docker run -d $TEST_IMAGE npm test

release:
  stage: release
  script: 
    - docker pull $TEST_IMAGE
    - docker tag $TEST_IMAGE $FINAL_IMAGE
    - docker push $FINAL_IMAGE

deploy:
  stage: deploy
  script:
    - docker pull $FINAL_IMAGE
    - docker run -d -p 3000:3000 $FINAL_IMAGE